
.one-half {
	width: 100%;
}

.one-half-second {
	margin: 0;
}

.one-half-last {
	clear: both;
	float: none;
	width: auto;
	padding: 20px 0 0 0;
}

div.nav ul li {
	width: 25%;
	border-bottom: 1px solid #bababa;
}

.icon
{
	margin: 0px;
}

.ftnav{
	float: none;
	margin-left: 20px;
	padding-top: 10px; 

}

.copyrights{
	padding-top: 10px; 
	color: black;
	margin-left: 10px;
}

footer
{
	margin-top: 30px;
	width: 100%;
	height: 100px;
	box-shadow:inset 0 0 4px black;

}


/* ------------------900px------------------------------- */



@media screen and (max-width: 900px) {
section.body-layout {
    padding-bottom: 20px;
    padding-top: 10px;
    padding-left: 20px;
    width: 96%;
    margin-left: 35px;
    background-color: white;
    float: left;
}


	.home {
 margin-left: 35px;
}
	main {
    width: 86%;
    margin-left: 20px;
}

	div.nav ul li 
	{
		width: 33%;
	}
	div.mobile-collapse {
		width: auto;
		float: none;
		margin-right: 0;
		display: inline;
	}
		.title
{
	font-size: 40px;
	margin-left: 10px;
	margin-top: 0px;
	position: absolute;


}
}

/* -------------------500px------------------------------ */



@media screen and (max-width: 500px) {
.float-box
{
    display: inline-block;
    width: 300px;
    height: 400px;
    margin-bottom: 15px;
    vertical-align: top;
        margin-left: 50px;


}

	.title
{
	font-size: 40px;
	margin-left: 10px;
	margin-top: 0px;
	position: absolute;


}
footer
{
	margin-top: 30px;
	padding-top: 0;
	width: 100%;
	box-shadow:inset 0 0 4px black;

}
	div.nav ul li {
		width: 50%;
		font-size: 85%;
		float: right;
	}
	ul,li,.nav2 {
		float: none;
		display: block;
	}
	
	
	.hide-mobile {
		display: none;
	}
	main {
    width: 100%;
    margin-left: 0px;
}
.home {
 margin-left: 0px;
}
section.body-layout {
    padding-bottom: 20px;
    padding-top: 10px;
    padding-left: 20px;
    width: 96%;
    margin-left: 0px;
    background-color: white;
    float: left;
}
}
