*
{
    margin: 0;
    padding: 0;
    font-family:Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif;
}

h3{
    color: black;
}
html,body
{
    height: 100%;
    background-color: gray;
    /*background-color: #808080;*/

}

main
{
    position: relative;
    display: inline-block;
}
ul.nav2{
    float:left;
    list-style-type:none;
}


ul 
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#4d4d4d;
}
li 
{
    float: left;
    display: inline-block;
}
li a, .dropbtn
{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 8px 50px;
    text-decoration: none;
}
li a:hover, .dropdown:hover .dropbtn
{
    background-color: #99ccff;
}

header
{
	width: 100%;
    margin-top: 0px;
    background-color: #7FFFD4;
}
footer
{
    position: relative;
    background-color: #7FFFD4;
    width: 100%;
    height: 100px;
    box-shadow:inset 0 0 4px black;
    display: inline-block;
}


input[type=text]
{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    background-color:  #bfbfbf;
    color: black;
}
input[type=text]:focus 
{
    border: 3px solid #555;
}
input[type=password]
{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    background-color: #bfbfbf;
    color: black;
}
input[type=password]:focus 
{
    border: 3px solid #555;
}

.font
{
    font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; 
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
}
.title
{
    color: white;
    font-size: 40px;
    margin-left: 10px;
    margin-top: 10px;
    position: absolute;

}
.wrapper {
    min-height: 50px;
    text-align: left;
}
.logo
{
    width: 100px;
    height: 100px;
    margin-left: 25px;
    margin-top: 1px;
    display: inline-block;
}

.login_layout
{
    display: inline-block;
    width: 500px;
    height: 300px;
    border:1px solid transparent;
    margin: 50px;
}

.button
{
    background-color:#3399ff;
    border:none;
    color: white;
    padding: 15px 0;
    width: 100%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 20px;
}
/*Button Animation*/
.button span
{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: .5s;
}
.button span:after {
  content: '>>';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
  color: blue;
}
.button:hover span {
  padding-right: 30px;
}
.button:hover span:after {
  opacity: 1;
  right: 0;
}
/*END*/
.button:hover
{
    background-color:  #66ff99;
}
::selection {
  background: #ffb7b7;
}
::-moz-selection {
  background: #ffb7b7; 
}
a 
{
    text-decoration: none;
}
.register_layout
{
    width: 1100px;
    margin: 0 120px auto;
    background-color: white;
    float:left;
}
.text
{
    color: black;
    font-size: 15px;    
    margin-top: 10px;

}
.textbox1
{
    text-align: center;
    color: black;
    border-style: solid;
    border-color: #ebebeb;
    border-radius: 5px;
    height: 40px;
    font-family: verdana;
    width: 350px;
    margin-top: 40px;
    
}
.ftnav{
    float: right;
    width: 320px;
    height: 60px;
    display: inline-block;
    padding-top: 40px; 


}
.copyrights{
    padding-top: 40px; 
    color: black;
    display: inline-block;
    margin-left: 50px;


}
.icon
{
    margin: 5px;
}
.welcome-layout
{
    display: inline-block;
    position: absolute;
    width: 500px;
    height: 300px;
    margin-left: 10px;
    margin-top: 50px;
    float: right;
    padding:20px;
    text-align: center;
    font-size: 14pt;
}

/* Side Column */
div.side {
    width: 50%;
    float: right;
}


.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

.login_layout, .welcome-layout
{
    background-color: transparent;
}
.contact-layout
{
    width: 980px;
    height: 600px;
    padding: 100px;
    margin: 0 80px auto;
    background-color: white;
}
.float-box
{
    display: inline-block;
    width: 300px;
    height: 400px;
    margin-bottom: 15px;
    vertical-align: top;
    

}
.img
{
    width: 150px;
    height: 150px;
    padding: 10px 25px;
}
section.body-layout
{
    padding-bottom: 20px;
    padding-top: 10px;
    padding-left: 20px;
    width: 1000px;
    margin: 0 120px auto;
    background-color: white;
    float:left;
}
.home-layout
{
    width: 310px;
    height: 450px;
    border: 1px solid black;
    margin-top: 10px;
    display: inline-block;
    vertical-align: middle;

}
.info
{
    float: right;
    width: 650px;
    height: 200px;
}
.home{
    display: inline-block;
    margin-left: 10px;
}

.p-margin
{
    margin-left: 20px;
}


fieldset.container_invisible{
    background-color: white;
}



a:link {
    font-family: "Display Font";
    text-decoration:none;
    color: #ffcc00;
}
a:visited {
    font-family: "Display Font";
    text-decoration:none;
    color: #ffcc00;
}
a:hover {
    font-family: "Display Font";
    text-decoration: underline;
    color: #ffcc00;
    text-shadow: 1px 1px 10 #fff;
}
a:active {
    font-family: "Display Font";
    text-decoration: underline;
    color: #ffcc00;
}

a.footer:link {
    font-size: 10px;
    text-decoration : none;
    color : #0000ff;
    font-weight: bold;
    display: block;
}
a.footer:visited {
    font-size: 10px;
    text-decoration : none;
    color : #0000ff;
    font-weight: bold;
    display: block;
}
a.footer:hover {
    font-size: 10px;
    text-decoration : none;
    color : #0000ff;
    font-weight: bold;
    display: block;
}
a.footer:active {
    font-size: 10px;
    text-decoration : none;
    color : #0000ff;
    font-weight: bold;
    display: block;
}

.b {
    background-color: #0047AB;
    font-family: "Display Font";
    font-size: 16px;
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: left;
}

div.flavor_text {
    padding-top: 30px;
    font-size: 24px;
    color: #ffffff;
    word-wrap: break-word;
    text-align: justify;
}
div.title {
    font-size: 48px;
    color: #ffffff;
    word-wrap: break-word;
}

div.left_container {
    float: left;
    padding: 20px;
    padding-left: 60px;
    padding-right: 500px;
}

div.right_container {
    width: 480px;
    margin: 0 auto;
    overflow-x: auto;
    position: relative;
    float: right;
    margin-top: 0px;
    background: #eee;
    height: 100%;
}

fieldset.right_panel {
    margin:             15px;
    padding-top:        25px;
    padding-left:       30px;
    padding-right:      30px;
    padding-bottom:     35px;
    border:             none;
}

input {
    font-size : 16px;
    font-weight: bold;
    font-family: "DejaVu Sans Mono", "Courier New", monospace;
}

input[type=password]{
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;

    box-shadow:0 1px 2px #ddd;
    -moz-box-shadow:0 1px 2px #ddd;
    -webkit-box-shadow:0 1px 2px #ddd;

    border:1px solid #aaa;
    color:#000000;
    padding:10px;
    margin:6px;
    width: 360px;
}

input[type=password]:focus{
    border:1px solid #3399ff;
    -moz-box-shadow: 1px 1px 3px #666666 inset;
    -webkit-box-shadow: 1px 3px 1px #666666 inset;
    box-shadow: 1px 1px 3px #666666 inset;
}

input[type=submit]{
    font-weight:bold;
    margin-top: 6px;
    margin-bottom: 6px;
    border: 1px solid #aaa;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 1px;
    padding-right: 1px;
    width: 380px;
    color: #111;
    text-decoration: none;
    background-color: #eeeeee;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    text-shadow: 0px 1px 0px #fff;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#cccccc));
    background: -moz-linear-gradient(top,  #ffffff,  #cccccc);
    background: -o-linear-gradient(top,  #ffffff,  #cccccc);
}


input[type=submit]:hover{
    background: -webkit-gradient(linear, left top, left bottom, from(#aaaaaa), to(#cccccc));
    background: -moz-linear-gradient(top,  #aaaaaa,  #cccccc);
    background: -o-linear-gradient(top,  #aaaaaa,  #cccccc);
    cursor:pointer;
}

input[type=submit]:active{
    position: relative;
    top: 1px;
    left: 1px;
}

input[type=text]{
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    box-shadow:0 1px 2px #ddd;
    -moz-box-shadow:0 1px 2px #ddd;
    -webkit-box-shadow:0 1px 2px #ddd;
    border:1px solid #aaa;
    color:#000000;
    padding:10px;
    margin:6px;
    width: 360px;
}

input[type=text]:focus{
    border:1px solid #3399ff;

    -moz-box-shadow: 1px 1px 3px #666666 inset;
    -webkit-box-shadow: 1px 3px 1px #666666 inset;
    box-shadow: 1px 1px 3px #666666 inset;
}

.messageError {
    margin: 10px;
    padding: 10px;
    border: medium solid #990000;
    border-collapse: collapse;
    background-color: #cc3333;
    background: -webkit-gradient(linear, left top, left bottom, from(#cc3333), to(#aa3333));
    background: -moz-linear-gradient(top,  #cc3333,  #aa3333);
    background: -o-linear-gradient(top,  #cc3333,  #aa3333);
    color: #000000;
    font-weight: bold;
    text-shadow: 1px 1px 1px #dc5252;
    border-radius:10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
}

.messageInfo {
    margin: 10px;
    padding: 10px;
    border: medium solid #3366cc;
    border-collapse: collapse;
    background-color: #76aadb;
    color: #000000;
    background: -webkit-gradient(linear, left top, left bottom, from(#76aadb), to(#5795cf));
    background: -moz-linear-gradient(top,  #76aadb,  #5795cf);
    background: -o-linear-gradient(top,  #76aadb,  #5795cf);
    text-shadow: 1px 1px 1px #99c5ef;
    border-radius:10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
}

.messageSystem {
    margin: 10px;
    padding: 10px;
    border: medium solid #006600;
    border-collapse: collapse;
    background-color: #66cc66;
    background: -webkit-gradient(linear, left top, left bottom, from(#66cc66), to(#66aa66));
    background: -moz-linear-gradient(top,  #66cc66,  #66aa66);
    background: -o-linear-gradient(top,  #66cc66,  #66aa66);
    color: #000000;
    font-weight: bold;
    text-shadow: 1px 1px 1px #8ed48e;
    border-radius:10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
}

.messageTip {
    margin: 10px;
    padding: 10px;
    border: medium solid #d2cd54;
    border-collapse: collapse;
    background-color: #fffacc;
    background: -webkit-gradient(linear, left top, left bottom, from(#fffacc), to(#dbd49b));
    background: -moz-linear-gradient(top,  #fffacc,  #dbd49b);
    background: -o-linear-gradient(top,  #fffacc,  #dbd49b);
    text-shadow: 1px 1px 1px #ffffff;
    color: #000000;
    border-radius:10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
}
/*-------------------*/

.img-block{
border: 1px solid;
width: 300px;
height: 200px;
}

.homeimg
{
    
    width: 290px;
    height: 240px;
    margin-top: 5px;
}
.h2
{
    border: 1px solid black;
    vertical-align: top;
    margin-top: 10px;
    margin-left: 40px;
}
.proj-descript
{
    vertical-align: text-top;
    margin-top: 10px;
    margin-left: 20px;  
    width: 80%;
}
.descript
{
    width: 300px;
    height: 200px;
    margin-top: 28px;
    vertical-align: top;
    margin-left: 10px;
}
.descript-info
{
    width: 600px;
    height: 200px;
    margin-top: 28px;
    vertical-align: top;
    margin-left: 10px;
}


table.doctable,tr.doctable,td.doctable,th.doctable{
padding: 10px;
border: 1px solid black;
border-collapse: collapse;
}

.btn {
  background: #6034d9;
  background-image: -webkit-linear-gradient(top, #6034d9, #a34a8e);
  background-image: -moz-linear-gradient(top, #6034d9, #a34a8e);
  background-image: -ms-linear-gradient(top, #6034d9, #a34a8e);
  background-image: -o-linear-gradient(top, #6034d9, #a34a8e);
  background-image: linear-gradient(to bottom, #6034d9, #a34a8e);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cfce2;
  background-image: -webkit-linear-gradient(top, #3cfce2, #3498db);
  background-image: -moz-linear-gradient(top, #3cfce2, #3498db);
  background-image: -ms-linear-gradient(top, #3cfce2, #3498db);
  background-image: -o-linear-gradient(top, #3cfce2, #3498db);
  background-image: linear-gradient(to bottom, #3cfce2, #3498db);
  text-decoration: none;
}

/*--------------------*/
.mail-headline{
width: 90%;
height: 350px;
}

.headline{
width: 90%;
height: 350px;

}

.logout{
    float: right;
    color: white;

}

.showimg{
    width: 850px;
    height: 450px;
    border: 1px solid black;
}

font.fontcolor{
        color: white;
}


@media screen and (max-width: 720px) {
    .showimg{
    width: 100%;
    height: 25%;
}
header{
width: auto;
}
div.right_container {
    width: 380px;
    margin: 0;
    overflow-x:hidden;
    position: relative;
    float: left;
    left: 0;
    margin-left: 0px;
    margin-top: 40px;
    background: none;
    height:     ;
}
div.left_container {
    float: left;
    padding: 0px;
    padding-left: 10px;
    padding-right: 0px;
}

input[type=text]{
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    box-shadow:0 1px 2px #ddd;
    -moz-box-shadow:0 1px 2px #ddd;
    -webkit-box-shadow:0 1px 2px #ddd;
    border:1px solid #aaa;
    color:#000000;
    padding:10px;
    margin:6px;
    width: 260px;
}
input[type=password]
{
    width: 260px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    background-color: #bfbfbf;
    color: black;
}    

input[type=submit]{
    font-weight:bold;
    margin-top: 6px;
    margin-bottom: 6px;
    border: 1px solid #aaa;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 1px;
    padding-right: 1px;
    width: 260px    ;
    color: #111;
    text-decoration: none;
    background-color: #eeeeee;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    text-shadow: 0px 1px 0px #fff;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#cccccc));
    background: -moz-linear-gradient(top,  #ffffff,  #cccccc);
    background: -o-linear-gradient(top,  #ffffff,  #cccccc);
}

div.title {
    font-size: 38px;
    color: #ffffff;
    word-wrap: break-word;
    margin-left: 0px;
    margin-top: 0px;
}
fieldset.right_panel {
    margin:             0px;
    padding:            0px;
    border:             none;
}


fieldset.container_invisible {
    width: 80%;
    display: inline-block;
    border-width: 0px;
    text-align: left;
}
fieldset.middle{
    width: 80%;

}
div.file_upload {
    color: #000000;
    border-color: #aaaaaa;
    background-color: #ffffff;
    box-shadow: 0 1px 2px #ddd;
    -moz-box-shadow: 0 1px 2px #ddd;
    -webkit-box-shadow: 0 1px 2px #ddd;
    width: 50%;
}
input[type=file] {
    width: 100%;
}
}

@media screen and (max-width: 500px) {
*{
    margin-left: 0;
}
fieldset.container_invisible {
    margin-left: 0px;
    padding-left: 0px;
    width: 80%;
    display: inline-block;
    border-width: 0px;
    text-align: left;
}
fieldset.middle{
    width: 80%;

}
div.file_upload {
    color: #000000;
    border-color: #aaaaaa;
    background-color: #ffffff;
    box-shadow: 0 1px 2px #ddd;
    -moz-box-shadow: 0 1px 2px #ddd;
    -webkit-box-shadow: 0 1px 2px #ddd;
    width:70%;
}
input[type=file] {
    width: 100%;
}
input[type=text] {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 0 1px 2px #ddd;
    -moz-box-shadow: 0 1px 2px #ddd;
    -webkit-box-shadow: 0 1px 2px #ddd;
    border: 1px solid #aaa;
    color: #000000;
    padding: 10px;
    margin: 6px;
    width: 260px;
}
input[type=submit] {
    font-weight: bold;
    margin-top: 6px;
    margin-bottom: 6px;
    border: 1px solid  #aaa;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 1px;
    padding-right: 1px;
    width: 260px;
    color: #111;
    text-decoration: none;
    background-color: #eeeeee;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    text-shadow: 0px 1px 0px #fff;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#cccccc));
    background: -moz-linear-gradient(top, #ffffff, #cccccc);
    background: -o-linear-gradient(top, #ffffff, #cccccc);
}

div.container{
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;
    text-align: center;
}
.register_layout {
    width: 100%;
    margin: 0;
    background-color: white;
    padding: 0;
    float: left;
}
select {
    width: 100%;
}

fieldset.top {
    width: 83%;
}
fieldset.bottom{
    width: 83%;


}

.showimg{
    width: 100%;
    height: 25%;
}
}